/* 레이아웃 */
#wrap {margin: 0 auto;}
#header {
    position: fixed; left: 0; top: 0;
    width: 100%;
    z-index: 1000;
}

/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;

    h1 {
        width: 140px; margin: 18px 0 0 20px;
    }
    .nav {
        li {
            position: relative;
            display: inline;
            a {
                font-size: 18px; color: #000;
                padding: 26px 20px;
                font-weight: 500;
                display: inline-block;
            }     
        }
        li:nth-child(4)::after {
            content: '';
            position: absolute; left: 19px; bottom: -5px;
            width: 69px; height: 2px;
            background: #d83832;
        }

        li.live {            
            a {position: relative;
                img {
                    width: 85px;
                    position: absolute; left: 15px; top: 25px;
                } 
            }
        }
    }
    .side-nav {
        margin-right: 20px;
        li {
            display: inline;   
            a {
                width: 30px;
                display: inline-block;
                padding: 28px 10px 20px;
            }         
        }
    }
}

/* 배너 */
#banner {
    position: relative;
    margin-bottom: 200px;

    .banner {
        h2 {
            position: absolute; left: 50%; top: 50%;
            transform: translate(-50%, -50%);
            font-size: 65px;
            color: #fff;
            font-weight: 500;
        }
        img {
            margin-top: 80px;
        }
    }

    .btn-quick {
        a {
            position: absolute;
            left: 50%; bottom: -25px;
            z-index: 1000;
            width: 50px; height: 50px;
            margin-left: -25px;
            background: #fff;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            
            img {
                width: 30px;
                padding: 10px; 
            }
        }
    } 
}

#contents {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;

    .cont1 {
        float: left;
        width: 50%; 
        position: relative; 

        h3 {
            color: #212529;
            font-size: 30px;
            padding: 12px;
            box-sizing: border-box;
            font-weight: 500;            
        }
        img {
            width: 90%;                
        }
        p {             
            position: absolute; left: 30%; top: 60%;
            transform: translate(-30%, -60%);
            text-align: center;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            &::before {
                content: '';
                position: absolute; left: 0; top: 0;
                width: 20px; height: 20px;
                background: #96c11f;
                border-radius: 50p%;
            }
        }
        a {
            
            img {
                width: 20px;
                transform: rotate(180deg);
            }
        }
    }
    .cont2 {
        float: left;
        width: 50%;
        h3 {}
        p {}
    }
    .cont3 {
        float: left;
        width: 50%;
        h3 {}
        p {}
    }
    .cont4 {
        float: left;
        width: 50%;
        h3 {}
        img {width: 500px;}
        p {}
    }
}



/* footer1 */
#footer1 {
    background: #555;
    .footer1 {
        width: 1200px;
        margin: 0 auto;
        display: flex;

        .foot1 {
            width: 33.3333333%;
            border-right: 1px solid rgba(242, 242, 242, 0.15);
            padding: 60px 40px;

            h4 {
                font-size: 18px;
                color: #999;
                font-weight: bold;
            }
            strong {
                font-size: 45px;
                color: #fff;
                padding-bottom: 30px;
                display: block;
            }
            ul{             
                li { 
                    display: inline;
                    padding-right: 20px; 
                    font-size: 18px;
                    color: #fff;
                    position: relative;                                 

                    span {
                        position: relative;
                        margin-left: 5px;  
                        padding-left: 15px;                        
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0px; bottom: 5px;
                            border-bottom: 7px solid #f58318;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                        }
                    }                                    
                }
                li:last-child::before {
                    content: '';
                    width: 1px;
                    height: 14px;
                    background: #6f6f6f;
                    position: absolute; left: -12px; top: 5px;
               }              
            }
        }
        .foot2 {
            width: 33.3333333%;
            text-align: center;
            border-right: 1px solid rgba(242, 242, 242, 0.15);
            padding: 40px;   

            span {
                img {
                    width: 90px;
                    display: inline-block;
                }             
            }
            strong {
                margin-top: 8px;
                display: block;
                text-transform: uppercase;
                font-size: 17px;
                color: #fff;
            }
            p {
                padding-top: 15px;
                font-size: 17px;    
                color: #888;
                font-weight: 500;                
            }
        }
        .foot3 {
            width: 33.3333333%;
            text-align: center;
            padding: 40px; 

            span {
                img {
                    width: 90px;
                    display: inline-block;
                }             
            }
            strong {
                margin-top: 8px;
                display: block;
                text-transform: uppercase;
                font-size: 17px;
                color: #fff;
            }
            p {
                padding-top: 15px;
                font-size: 17px;    
                color: #888;
                font-weight: 500;
            }
        }
    }
}

/* footer2 */
#footer2 {
    overflow: hidden;
    width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
    color: #666;

    .left {
        float: left;

        .left1 {
            margin-bottom: 20px;
            li { 
                display: inline;
                font-size: 15px;
                margin-right: 20px;
                position: relative;        

                strong.st1 {
                    color: #539a00;
                }
                strong.st2 {
                    color: #ff6216;
                }

                &::after {
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: #ccc;
                    position: absolute; right: -12px; top: 7px;
                }           
            }
            li:nth-child(5)::after {
                width: 0;
                height: 0;
            }
            li:last-child:after {
                width: 0;
                height: 0;
            }
        }
        .left2 {
            margin-bottom: 20px;            
            font-weight: 300; 

            li { 
                display: inline;
                font-size: 13px;
                margin-right: 20px;
                position: relative;

                &::after {
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: #ccc;
                    position: absolute; right: -14px; top: 5px;
                }   
            }
            li:nth-child(4)::after {
                width: 0;
                height: 0;
            }
            li:last-child:after {
                width: 0;
                height: 0;
            }
        }
        address {
            margin: 30px 0;
            font-style: normal;
            font-weight: 300;
        }
    }

    .right {
        float: right;

        .family {
            p {
                width: 200px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                border: 2px solid #e8e8e8;
                padding: 10px;
                border-radius: 23px; 
                font-weight: bold;
                color: #666;
                &::after {
                    content: '';
                    position: absolute;
                    right: 20px; top: 20px;
                    border-top: 5px solid #333;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }              
            }           
        }

        ul {
            li {
                display: inline-block;
                margin: 30px 5px;                
                img {
                    width: 46px;
                }              
            }
        }
    }
}