@charset "UTF-8";
body {
  font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#main {
  position: relative;
  /* header */
  /* banner */
}

#main #header {
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* nav */
}

#main #header .header {
  float: left;
}

#main #header .header .ham {
  position: relative;
}

#main #header .header .ham .line1 {
  position: absolute;
  left: 10px;
  top: 22px;
  width: 15px;
  height: 2px;
  background: #fff;
}

#main #header .header .ham .line2 {
  position: absolute;
  left: 10px;
  top: 29px;
  width: 22px;
  height: 2px;
  background: #fff;
}

#main #header .header .ham .line3 {
  position: absolute;
  left: 10px;
  top: 36px;
  width: 15px;
  height: 2px;
  background: #fff;
}

#main #header .header .logo h1 {
  position: absolute;
  left: 63px;
  top: 41px;
}

#main #header .header .logo h1 a img {
  width: 110px;
}

#main #header .nav {
  float: right;
  width: 60%;
  position: relative;
}

#main #header .nav .center-nav {
  float: left;
  margin-top: 10px;
  position: absolute;
  left: -30px;
  top: 8px;
}

#main #header .nav .center-nav ul li {
  padding-left: 20px;
  display: inline;
}

#main #header .nav .center-nav ul li a {
  font-size: 17px;
  color: #fff;
  font-weight: bold;
}

#main #header .nav .right-nav {
  float: right;
  margin-top: 23px;
}

#main #header .nav .right-nav .right.nav {
  position: relative;
}

#main #header .nav .right-nav .right.nav ul {
  position: absolute;
  left: -280px;
  top: 0;
}

#main #header .nav .right-nav .right.nav ul li {
  display: inline;
}

#main #header .nav .right-nav .right.nav ul li a {
  padding-right: 25px;
  position: relative;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}

#main #header .nav .right-nav .right.nav ul li a::before {
  content: '';
  width: 3px;
  height: 3px;
  position: absolute;
  left: -10px;
  top: 8px;
  background: #ec7d2c;
}

#main #header .nav .right-nav .right.img ul li {
  padding-left: 10px;
  display: inline;
}

#main #header .nav .right-nav .right.img ul li a img {
  width: 25px;
}

#main #banner {
  margin-bottom: 30px;
}

#main #banner .banner .swiper-container .swiper-scrollbar ul {
  display: none;
}

/* contents */
#contents .title {
  text-align: center;
  margin: 20px 0 30px;
}

#contents .title img {
  width: 210px;
}

/* What's hot */
#con1 .hot li {
  float: left;
  margin: 12px;
  position: relative;
}

#con1 .hot li .bigOne a img {
  width: 410px;
  display: block;
}

#con1 .hot li .bigOne a .hot1-text {
  text-align: center;
}

#con1 .hot li .bigOne a .hot1-text h4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#con1 .hot li .bigOne a .hot1-text p {
  font-size: 14px;
  color: #999;
  padding: 8px 0 18px 0;
  border-bottom: 1px solid #ccc;
}

#con1 .hot li .bigOne a .hot1-text p span {
  font-weight: 400;
  color: #ed334a;
}

#con1 .hot li .bigOne a .big-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background: #ec7d2c;
  border-radius: 50%;
  border: 5px solid #fff;
  width: 68px;
  height: 68px;
  position: absolute;
  left: 10px;
  bottom: 70px;
}

#con1 .hot li {
  float: left;
}

#con1 .hot li .hotList a img {
  width: 230px;
}

#con1 .hot li .hotList a .hotList-text {
  opacity: 0;
  width: 100%;
  height: 350px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  display: table;
}

#con1 .hot li .hotList a .hotList-text div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#con1 .hot li .hotList a .hotList-text div .tit {
  line-height: 25px;
  color: #fff;
  font-size: 18px;
}

#con1 .hot li .hotList a .hotList-text div .detail {
  line-height: 20px;
  font-size: 13px;
  color: #fff;
  margin: 15px 0;
}

#con1 .hot li .hotList a .hotList-text div .event {
  font-size: 18px;
  color: #ec7d2c;
  line-height: 35px;
}

#con1 .hot li .hotList a .circle {
  position: relative;
}

#con1 .hot li .hotList a .circle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  background: #ec7d2c;
  border-radius: 50%;
  border: 4px solid #fff;
  width: 57px;
  height: 57px;
  position: absolute;
  left: 10px;
  bottom: -20px;
}

/* ticket*/
#con2 {
  padding-top: 120px;
  clear: both;
}

#con2 .title {
  text-align: center;
  margin: 20px 0 30px;
}

#con2 .title img {
  width: 220px;
}

#con2 .ticket {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#con2 .ticket .box {
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

#con2 .ticket .box a {
  position: relative;
}

#con2 .ticket .box a img {
  width: 230px;
}

#con2 .ticket .box a .day {
  position: absolute;
  left: 20%;
  top: 90px;
  display: block;
  color: #fff;
  font-size: 25px;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  border: 7px solid #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#con2 .ticket .box a .text {
  border: 1px solid #eee;
  text-align: center;
}

#con2 .ticket .box a .text time {
  position: relative;
  display: block;
  font-size: 15px;
  color: #ec7d2c;
  padding: 5px 0 26px;
}

#con2 .ticket .box a .text time::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #000;
  position: absolute;
  left: 45%;
  bottom: 21%;
}

#con2 .ticket .box a .text p {
  position: relative;
  font-weight: 600;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#con2 .ticket .more {
  position: absolute;
  left: 41%;
  top: 470px;
  border: 1px solid #ccc;
  padding: 15px 50px;
  font-size: 14px;
}

/* sbanner01 */
.sbanner01 img {
  margin: 80px 0px;
}

/* ranking*/
#con3 .title {
  text-align: center;
  margin: 20px 0 30px;
}

#con3 .title img {
  width: 160px;
}

#con3 .ranking .tab {
  text-align: center;
  margin-bottom: 20px;
}

#con3 .ranking .tab a {
  font-size: 18px;
  padding: 0 15px;
  color: #555;
}

#con3 .ranking .tab ahover {
  color: #ec7d2c;
}

#con3 .ranking .tab a.on {
  color: #ec7d2c;
}

#con3 .ranking .rank-box {
  position: relative;
  width: 100%;
}

#con3 .ranking .rank-box .rank-list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#con3 .ranking .rank-box .rank-list li a .box {
  overflow: hidden;
  position: relative;
  margin: 20px;
  width: 380px;
  height: 350px;
  background: #ccc;
}

#con3 .ranking .rank-box .rank-list li a .box svg {
  width: 456px;
  height: 504px;
  margin-top: -40px;
  margin-left: -50px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#con3 .ranking .rank-box .rank-list li a .box svg:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#con3 .ranking .rank-box .rank-list li a .box img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 280px;
}

#con3 .ranking .rank-box .rank-list li a .text {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

#con3 .ranking .rank-box .rank-list li a .text p {
  font-size: 14px;
  font-weight: bold;
}

#con3 .ranking .rank-box .rank-list li a .text span {
  font-size: 13px;
  color: #999;
}

#con3 .ranking .rank-box .rank-list li a .text::before {
  content: '';
  position: absolute;
  right: 20px;
  bottom: -10px;
  width: 390px;
  height: 1px;
  background: #ccc;
}

#con3 .ranking .rank-box .rank-list li a .rank-num {
  position: relative;
}

#con3 .ranking .rank-box .rank-list li a .rank-num p {
  position: absolute;
  left: 30px;
  top: -110px;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  color: #fff;
  width: 45px;
  height: 45px;
  background: #ec7d2c;
}

#con3 .ranking .rank-box .more {
  position: absolute;
  left: 41%;
  top: 490px;
  border: 1px solid #ccc;
  padding: 15px 50px;
  font-size: 14px;
}

#con4 {
  margin: 5% 0;
}

#con4 .event {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#con4 .event .swiper-container {
  width: 33.333333%;
  height: 100%;
  float: left;
}

#con4 .event .swiper-container .wiper-wrapper .swiper-pagination {
  position: relative;
}

#con4 .event .swiper-container .wiper-wrapper .swiper-pagination.swiper-pagination-white {
  position: absolute;
  left: 0;
  bottom: 0;
}

#con4 .event .box {
  float: left;
  width: 33.333333%;
  height: 50%;
}

#con4 .event .box .angel img {
  border: 1px solid #ccc;
}

#con4 .event .box .project {
  margin-top: 15px;
}

#con4 .event .box .project img {
  width: 380px;
}

#con4 .event .stage {
  float: left;
  width: 33.333333%;
  height: 100%;
}

/* sbanner02 */
.sbanner02 {
  position: relative;
  width: 100%;
  min-width: 1300px;
  height: 560px;
  background: #000;
  margin: 80px 0px;
}

.sbanner02 .sban-text {
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  text-transform: uppercase;
}

.sbanner02 .sban-text h4 {
  position: relative;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 60px;
}

.sbanner02 .sban-text h4::after {
  content: '';
  width: 48px;
  height: 4px;
  background: #ec7d2c;
  position: absolute;
  right: 8px;
  bottom: 0px;
}

.sbanner02 .sban-text h4:hover::after {
  content: '';
  width: 170px;
  height: 4px;
  background: #ec7d2c;
  position: absolute;
  right: 8px;
  bottom: 00px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.sbanner02 .sban-text a {
  color: #fff;
}

.sbanner02 .sban-text a p {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 25px;
}

.sbanner02 .sban-text a span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.sbanner02 img {
  position: relative;
  position: absolute;
  right: 11%;
  top: 0;
  width: 981px;
  height: 560px;
}

.sbanner02 img.movie {
  width: 86px;
  height: 86px;
  position: absolute;
  top: 50%;
  left: 64%;
  -webkit-transform: translate(-64%, -50%);
          transform: translate(-64%, -50%);
}

/* con5 */
#con5 {
  font-family: 'NanumBarunGothic', 'Malgun Gothic', sans-serif;
  margin-bottom: 100px;
}

#con5 .title {
  margin: 20px 0 80px;
}

#con5 .title img {
  width: 420px;
}

#con5 .container {
  width: 100%;
  margin: 0 auto;
}

#con5 .musical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

#con5 .musical a {
  margin-left: 40px;
}

#con5 .musical a .list-img img {
  width: 270px;
}

#con5 .musical a .list-img:hover img {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#con5 .musical a .list-text {
  margin-top: 25px;
}

#con5 .musical a .list-text p {
  color: #333;
  font-size: 16px;
  text-align: center;
}

#con5 .musical a:hover {
  font-weight: bold;
}

/* con6 */
#con6 {
  margin-bottom: 100px;
}

#con6 .title {
  margin: 20px 0 80px;
}

#con6 .title img {
  width: 520px;
}

#con6 .container {
  width: 100%;
  margin: 0 auto;
}

#con6 .concert {
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#con6 .concert a {
  margin-left: 40px;
}

#con6 .concert a .list-img img {
  width: 270px;
}

#con6 .concert a .list-img:hover img {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#con6 .concert a .list-text {
  margin-top: 25px;
}

#con6 .concert a .list-text p {
  color: #333;
  font-size: 16px;
  text-align: center;
}

#con6 .concert a:hover {
  font-weight: bold;
}

/* con7 */
#con7 {
  margin-bottom: 100px;
}

#con7 .title {
  margin: 20px 0 80px;
}

#con7 .title img {
  width: 520px;
}

#con7 .container {
  width: 100%;
  margin: 0 auto;
}

#con7 .kids {
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#con7 .kids a {
  margin-left: 40px;
}

#con7 .kids a .list-img img {
  width: 270px;
}

#con7 .kids a .list-img:hover img {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#con7 .kids a .list-text {
  margin-top: 25px;
}

#con7 .kids a .list-text p {
  color: #333;
  font-size: 16px;
  text-align: center;
}

#con7 .kids a:hover {
  font-weight: bold;
}

/* con8 */
#con8 {
  margin-bottom: 100px;
}

#con8 .container {
  width: 100%;
  margin: 0 auto;
}

#con8 .title {
  margin: 0 0 80px;
}

#con8 .title img {
  width: 350px;
}

/* con9 */
#con9 {
  overflow: hidden;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

#con9 .con-left {
  float: left;
}

#con9 .con-left dl {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
  overflow: hidden;
}

#con9 .con-left dl dt {
  font-size: 13px;
  width: 45px;
  float: left;
  color: #999;
}

#con9 .con-left dl dd {
  font-size: 13px;
  color: #333;
}

#con9 .con-left dl dd span {
  color: #999;
}

#con9 .con-center {
  float: left;
  margin-left: 70px;
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#con9 .con-center a {
  display: inline-block;
  font-size: 15px;
  color: #333;
  margin: 0 30px;
  text-align: center;
  font-weight: 700;
}

#con9 .con-center a img {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

#con9 .con-right {
  float: right;
  overflow: hidden;
}

#con9 .con-right .con-right-left {
  float: left;
  padding: 10px 20px;
}

#con9 .con-right .con-right-left .social {
  margin-bottom: 10px;
}

#con9 .con-right .con-right-left .social a img {
  padding: 8px;
}

#con9 .con-right .con-right-right {
  float: right;
}

/* footer */
#footer {
  clear: both;
  margin-bottom: 50px;
}

#footer .footer-menu {
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 20px;
  margin: 30px 0;
  overflow: hidden;
}

#footer .footer-menu .footer-menu-text {
  float: left;
}

#footer .footer-menu .footer-menu-text ul li {
  position: relative;
  display: inline;
}

#footer .footer-menu .footer-menu-text ul li::after {
  content: '';
  width: 1px;
  height: 15px;
  background: #eee;
  position: absolute;
  left: 0;
  top: 2px;
}

#footer .footer-menu .footer-menu-text ul li a {
  font-size: 15px;
  color: #333;
  padding: 0 10px;
}

#footer .footer-menu .footer-menu-text ul li:first-child::after {
  width: 0;
  height: 0;
}

#footer .footer-menu .footer-menu-btn {
  border: 1px solid #999;
  float: right;
}

#footer .footer-menu .footer-menu-btn ul {
  height: 28px;
}

#footer .footer-menu .footer-menu-btn ul li {
  padding: 0px 50px 0px 10px;
  margin-bottom: 1px;
}

#footer .footer-menu .footer-menu-btn ul li a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #666;
  height: 24px;
}

#footer .footer-menu .footer-menu-btn ul li a img {
  position: absolute;
  right: -40px;
  top: 8px;
}

#footer .footer-menu .footer-menu-btn ul li:first-child {
  cursor: pointer;
  border-bottom: 1px solid #999;
}

#footer .footer-menu .footer-menu-btn ul li:first-child a {
  font-size: 16px;
  color: #000;
  height: 28px;
}

#footer .footer-text {
  overflow: hidden;
}

#footer .footer-text .footer-text-left {
  float: left;
  margin: 20px 10px;
}

#footer .footer-text .footer-text-center {
  padding: 0 50px;
  float: left;
}

#footer .footer-text .footer-text-center p {
  font-size: 15px;
  color: #333;
  padding-bottom: 10px;
}

#footer .footer-text .footer-text-center p a {
  padding-right: 10px;
  position: relative;
  margin-left: 10px;
  background: url(../img/f-arrow.png) no-repeat right center;
}

#footer .footer-text .footer-text-center .tc2 {
  font-size: 13px;
  color: #999;
  padding-bottom: 10px;
}

#footer .footer-text .footer-text-right {
  float: right;
}

#footer .footer-text .footer-text-right .mark a {
  font-size: 12px;
  color: #333;
  margin-left: 45px;
  padding-right: 10px;
  background: url(../img/f-arrow.png) no-repeat right center;
}

#footer .footer-text .footer-text-right .fservice {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */