body {background-color: #F1EFE6;}

@font-face {font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Recoleta'; src: url('https://assets.website-files.com/5eb3725804ebab7adb0a6e4e/5eb426afee5762a032aa649b_Latinotype%20-%20Recoleta%20Bold.otf') format('otf'); font-weight: bold; font-style: normal;}

#wrap {}
#home {}

/* header */
#header {
    font-family: 'DM Serif Text', serif;
    color: #241E60;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    #nav {
        flex: 1 1 0;
        ul {
            li { 
                padding: 1vw;
                display: inline-block;

                a {color: #241E60;}
            }
        }
    }
    h1 {
        text-align: center;
        font-size: 2vw;
        flex: 1 1 0;
    }
    .home {
        text-align: right;
        flex: 1 1 0;
        margin: 1vw;
        img {  
            width: 2.5vh;
        }
    }
}
/* banner */
#banner {
    overflow: hidden;
    .banner-left {
        float: left;
        font-family: 'Recoleta',serif;
        margin: 20vh 10vw;
        h2 {
            font-size: 6vw;
            color: #09C9C3;
            line-height: .9;
            span {color: #E16162;}
        }
        h4 {
            margin-top: 3vh;
            font-size: 2vw;
            color: #241E60;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
        }
    }
    .banner-right {
        float: right;
        position: relative;
        .heart {
            position: absolute; right: 100%; top: 5%;
            img {
                width: 50vw; 
                opacity: .9; z-index: 1;
                transform: rotate(-10deg);
            }
            .line01 {
                position: absolute; left: 50%; top: 75%;
                svg {}
            }
        }
        .monkey {
            position: relative;
            position: absolute; right: 120%; top: 30%;
            img {                
                width: 18vw;
                transform: rotate(10deg);
            }
            .line02 {
                position: absolute; right: 100%; top: 30%;
                svg {}
            }
        }
        .chick {
            img {
                width: 16vw;
                transform: rotate(10deg);
            }
            .line03 {
                svg {}
            }
        }        
    }
}


/* lotto */
#lotto {
    overflow: hidden;
    width: 100%;
    height: 15%;
    position: fixed; left: 0; bottom: 0;
    border-top: 5px solid #241E60;
    background: #F1EFE6;
    padding: 1vw;
    .lotto-left {
        margin-left: 5%;
        float: left;
        width: 65%;
        .lotto-text {
            p {
                font-size: 1.2vw;
                font-family: 'S-CoreDream-5Medium', serif;
            }           
        }
        .lotto-bar {
            margin-top: 2%;
            .border {
                border: 5px solid #241E60; 
                padding: 0% 45%;
                border-radius: 80px;
                background: #09C9C3;
/*                 .color {
                    width: 50%; height: 50%;
                    background: #09C9C3;
                } */
            }            
        }
    }
    .lotto-right {
        float: right;
        width: 20%;
        margin-right: 5vw;
        .gift {
            padding: 1vw 0;
            text-align: center;
            background: #F9BC60;
            border: 5px solid #241E60;
            border-radius: 20px;
            .gift-text {
                font-family: 'Josefin Sans', serif;
                font-size: 2vw;
                font-weight: bold;
                img {width: 10%; padding-left: 5%; box-sizing: unset;}
            }
        }
    }    
}